.bgimage {
	background-image: url("../images/cover-photo.jpg");
	background-position: center center;
	background-size: cover;
	height: 200px;
	margin-top: 50px;
}

header h1{
	color: white;
}

.bags {
	text-align: center;
}

@media(min-width: 1200px) {
	h2 {
		margin-top: 0;
	}
	.bags {
		text-align: left;
	}
}